{% extends 'news/base.html' %}
{% load static %}
{% block title %} Parolni tiklash {% endblock title %}

{% block content %}

<h2> Parilni tiklash</h2>
<p>Parolni tiklash uchun yangi parolni kiriting:</p>
  {% if validlink %}
    <p>Iltimos yangi parolni ikki marta kiriting</p>
      <form method="post">{% csrf_token %}
      {{form.as_p }}
          <button type="submit">Parolni almashtirish</button>
      </form>
  {% else %}
    <p>Siz noto'g'ri linkdan foydalandingiz.
    U link avvalroq foydalanilgan bo'lishi va
      ishlatish vaqti o'tib ketgan bo'lishi mumkin</p>
  {% endif %}

{% endblock content %}