<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    <li>
        17.URLni slug ga o'zgartirish. Get_absolute url
        18. yangiliklar sayti sahifasini yaratish
        20.Yangiliklarni tahrirlash va oʻchirish funksiyalari
        21. Saytga yangilik qo’shish
        22. Autinfikatsiya (login va Logout)
        23. Foydalanuvchi profilini yaratish
        24. Foydalanuvchi parolini o’zgartirish
        25. Foydalanuvchi parolini qayta tiklash
        26. Signup Ro’yxatdan o’tish
        27. Signup. Class View orqali ro’yxatdan o’tish
        28.Profil modelini yaratish. Profilni tahrirlash
        29. Login_required dekoratori va LoginRequiredMixin
        30. Profilda rasm va boshqa maʼlumotlarni chiqarish
        31. Ruxsatnomalar. LoginRequiredMixin vs UserPassesTestMixin
        32. Ruxsatnomalar. Admin sahifasi ochish. Dekoratorli ruxsatnomalar
        33. Djangoʼda izoh qoldirish. Izoh modeli va formasini yaratish. 1-qism
        34. Djangoʼda izoh qoldirish. Views qismini yozish. 2-qism
        35. Djangoʼda izoh qoldirish. Template qismini yozish. 3-qism
        36. Yangiliklarni izlash funksiyasi
        37. Ko’rishlar sonini aniqlash
        38. Ko’rishlar sonini templatelarda aks ettirish
        39. Izohlar sonini templateʼdan chiqarish va githubʼga oʻzgarishlarni saqlash
        40. Veb-saytni i18n orqali tarjima qilish
        41. ModelTranslation modulidan foydalanib modelni tarjima qilish
        42. Templateʼdagi matnlarni tarjima qilish

    </li>
</h1>
</body>
</html>