{% extends 'news/base.html' %}
{% load i18n %}

{% load static %}
{% load hitcount_tags %}
{% block title %} TexnologiyaYangiliklari {% endblock title %}

{% block content %}
{% for news in texnologiya_yangiliklari %}

        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                <a href="{{news.get_absolute_url}}">
                  <img src="{{news.image.url}}" alt="{{ news.title }}" style="width:50%">
                  <h3>{{ news.title }}</h3>
                    <p> Ko'rishlar soni : <i class="fa fa-eye" aria-hidden="true" style="color:blue"></i>: {% get_hit_count for news %} </p>
                </a>
                </div>

            </div>
        </div>
{% endfor %}

{% endblock content %}
